{
    "exchange": {
        "ZB": {
            "access_key": "",
            "secret_key": ""
        }
    },
    "qyvx": {
        "agentId": 0,
        "corpId": "",
        "secret": ""
    }
}